<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Chat</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<button id="toggle-btn" onclick="toggleSidebar()">☰</button>

<div class="sidebar" id="sidebar">
    <div class="links-superiores">
        <a href="/index"> <img src=static/home.png alt=logo width="30">   Início</a>
        <a href="/chat">  <img src=static/chat.png alt=logo width="30">  Chat</a>
        <a href="/avisos">  <img src=static/atencao.png alt=logo width="30"> Avisos</a>
        <a href="/perfil"> <img src=static/profile.png alt=logo width="30"> Perfil</a>
    </div>
    <a href="/" class="sair">Sair</a>
</div>

<div class="talk" id="talk">
    <h1>Chat</h1>
    <div id="chat-box"></div>
    <div class="input-row">
        <input type="text" id="mensagem" placeholder="Digite...">
        <button onclick="enviar()">Enviar</button>
    </div>
</div>

<script>
function toggleSidebar() {
    const sidebar = document.getElementById("sidebar");
    const content = document.getElementById("content");
    sidebar.classList.toggle("fechada");
    content.classList.toggle("expandido");
}

function enviar() {
    let msg = document.getElementById("mensagem").value;
    fetch("/enviar", {
        method:"POST",
        headers:{"Content-Type":"application/json"},
        body:JSON.stringify({mensagem: msg})
    }).then(()=> {
        document.getElementById("mensagem").value="";
        carregar();
    });
}

function carregar() {
    fetch("/mensagens")
    .then(r => r.json())
    .then(d => {
        let chat = document.getElementById("chat-box");
        chat.innerHTML = "";
        d.forEach(m => { chat.innerHTML += "<div class='mensagem'><p>"+m+"</p></div>"; });
        chat.scrollTop = chat.scrollHeight;
    });
}

carregar();
</script>

</body>
</html>

<body class="interna"></body>
